body,html
{
    padding: 0px;
    margin: 0px;
}
.botton 
{
  background-color: #92a4af;
  color: black;
  text-align: center;
  width: 250px;
  height: 80px;
  cursor: pointer;
  font-size: 30px;
  position: absolute;
  top: 500px;
  left: 49%;
  font-family: monospace;
  border-radius: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  box-shadow: 5px 5px black;
  animation: slideInLeft 1s;
}
.botton1 
{
  background-color: #92a4af;
  color: black;
  text-align: center;
  width: 250px;
  height: 80px;
  cursor: pointer;
  font-size: 30px;
  position: absolute;
  top: 500px;
  left: 70%;
  font-family: monospace;
  border-radius: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  box-shadow: 5px 5px black;
  animation: slideInLeft 1s;
}
.title
{
  color:white;
  text-align: center;
  width: 450px;
  height: 170px;
  font-size: 90px;
  position: absolute;
  left:790px;
  top: 200px;
  display:flex;
  flex-direction: row;
  text-shadow: 6px 6px rgb(5, 41, 119);
  animation: slideInLeft 1s;
}
.mensagem
{
    color:white;
    text-align: center;
    width: 450px;
    height: 170px;
    font-size: 40px;
    position: absolute;
    left:830px;
    top: 390px;
    display:flex;
    flex-direction: row;
    text-shadow: 7px 7px rgb(3, 2, 2);
    animation: slideInLeft 1s;
}
.fundo
{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color:rgb(10, 69, 124);
}